.login-container{
    justify-content: center;
    .card{
        margin-left: 530px;
        border-style:solid;
        border-color: rgb(145, 188, 215);
        h1,label,input,button,a{
            margin-left: 40px;
        }
        margin-top: 150px;
        background-color: rgb(201, 245, 250);
        padding-bottom: 70px;
        padding-right: 70px;
        padding-left: 70px;
        padding-top: 30px;
        border-radius: 10px;
        font-size: 20px;
        width:290px;
        align-items: center;
        input{
            padding: 8px;
            width: 210px;
            margin-top: 10px;
            margin-bottom: 20px;
        }
        button{
            margin-top: 30px;
            padding: 7px;
            width: 110px;
            border: none;
            border-radius: 10px;
            height:40px;
            margin-left: 90px;
            margin-bottom: 22px;
            border-style:solid;
            border-color: rgb(145, 188, 215);
        }
        button:hover{
            cursor: pointer;
        }
        a{
            font-size: 17px;
            margin-left: 110px;
        }
    }
}